/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-100 {
  max-width: 100%;
}

/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-75 {
  max-width: 75%;
}

/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-66 {
  max-width: 66.66%;
}

/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-50 {
  max-width: 50%;
}

/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-33 {
  max-width: 33.33%;
}

/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-25 {
  max-width: 25%;
}

/* line 23, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.size-16 {
  max-width: 16.66%;
}

/* line 31, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
figure.caption figcaption {
  background-color: #ededee;
  padding: 2px 4px;
}

/* line 39, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
figure.caption
, .media {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* line 46, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
figure.caption:not(.size-100).align-left
, .media:not(.size-100).align-left {
  margin: 0 32px 8px 0;
}

/* line 49, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
figure.caption:not(.size-100).align-right
, .media:not(.size-100).align-right {
  margin: 0 0 8px 32px;
}

/* line 54, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
figure.caption > article:first-child {
  margin-block-end: 0;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="100"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 100%) !important;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="75"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 75%) !important;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="66"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 66.66%) !important;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="50"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 50%) !important;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="33"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 33.33%) !important;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="25"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 25%) !important;
}

/* line 65, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_element[data-align=right][data-size="16"] + .cke_widget_drag_handler_container {
  left: calc( 100% - 16.66%) !important;
}

/* line 71, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.media .field--name-field-media-image:hover {
  outline: 2px solid #ffd25c;
  cursor: default;
}

/* line 76, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_editable img {
  max-width: 100%;
  height: auto;
}

/* line 82, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.media-library-item__edit {
  position: absolute;
  top: 2px;
  right: 2px !important;
}

/* line 86, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.media-library-item__edit:hover {
  cursor: pointer;
}

/* line 92, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.cke_widget_wrapper > .cke_widget_drag_handler_container {
  opacity: 1;
  background-color: #ffffff !important;
}

/* line 98, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
figure.caption {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* line 108, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/modules/contrib/ucsfpharmacy/sass/media.scss */
.media {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/*# sourceMappingURL=media.css.map */