//  ------------------------------------------------------------------
//  declarations

    $sizes: (
      "100" : 100%
      ,"75" : 75%
      ,"66" : 66.66%
      ,"50" : 50%
      ,"33" : 33.33%
      ,"25" : 25%
      ,"16" : 16.66%
    );



//  ------------------------------------------------------------------
//  needed inside and outside the wysiwyg

    @each $name, $size in $sizes {
      .size-#{$name} {
        max-width: $size;
      }
    }

    figure{
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      figcaption{
        background-color: #ededee;
        padding: 2px 4px;
      }
    }

    .media{
      margin-block-end: .75em;
      &.align-right
      ,&.align-left
      {
        &.size-100{
          float: none;
          margin-block-end: 1em;
        }
      }
      &.align-right:not(.size-100){
        margin-inline-start: 1.5em;
      }
      &.align-left:not(.size-100){
        margin-inline-end: 1.5em;
      }
      .field--name-field-media-audio-file .field__item{
        line-height: 0;
      }
      &.media--type-audio{
        // max-width: 300px;
        figcaption{
          margin-block-start: 4px;
        }
      }
      &.media--type-document{
        a{
          padding-left: 0;
        }
      }
	    details:not(.seven-details){
	      /* start - animating the accordion behavior helps users understand what’s happening */
	      transition: height 1s ease-in-out;
	      &:not([open]){
	        display: inline;
	        height: 2em;
	      }
	      &[open]{
	        display: block;
	        height: 50vh;
	      }
	      .field--name-field-transcript{
	        background-color: #ffffff; // without this we would briefly have overlapping text
	      }
	      /* end - animating the accordion behavior helps users understand what’s happening */
	      summary{
	        &:focus{
	          color: #ffffff;
	          background-color: #0071ad;
	          outline: none;
	        }
	      }
	      &[open]{
	        .field--name-field-transcript {
	          /* start - enable visitors to scroll through the entire transcript while keeping the audio or video object onscreen and adjacent. */
	          max-height: calc( 50vh - 2em );
	          overflow: scroll;
	          /* end - enable visitors to scroll through the entire transcript while keeping the audio or video object onscreen and adjacent. */
	          padding: var(--space-m);
	          border: 1px solid #3b3b3b;
	          /* start - forcing scrollbars to appear helps users understand what’s happening */
	          &::-webkit-scrollbar {
	            -webkit-appearance: none;
	            width: 7px;
	          }
	          &::-webkit-scrollbar-thumb {
	            border-radius: 4px;
	            background-color: rgba(0, 0, 0, .5);
	            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	          }
	          /* end - forcing scrollbars to appear helps users understand what’s happening */
	        }
	      }
	    }

	    /*
	    start - animate details element open - alternate version not used because it seems less efficient

	    based on:
	    https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal
	    */
	    /*
	    details[open] summary ~ * {
	      animation: sweep .5s ease-in-out;
	    }
	    @keyframes sweep {
	      0% {
	        width: 0;
	      }
	      100% {
	        width: 100%;
	      }
	    }
	    */
	    /*
	    end - animate details element open - alternate version not used because it seems less efficient
	    */
    }
    * + .media{
      margin-block-start: 1em;
    }

    .laundry-line{
      margin-block-start: 1em;
      .media{
        margin-block-start: 0;
      }
      .align-right{
        margin-inline-start: 0;
      }
      .align-left{
        margin-inline-end: 0;
      }
    }



//  ------------------------------------------------------------------
//  needed only inside the wysiwyg

    // reposition the drag handle
    @each $name, $size in $sizes {
      .cke_widget_wrapper {
        &>.cke_widget_element[data-align=right][data-size="#{$name}"]+.cke_widget_drag_handler_container{
          left: calc( 100% - #{$size} ) !important; // no way around having !important here since CKE inlines the styles we don't want
        }
      }
    }

    .cke_widget_wrapper{
      &>.cke_widget_drag_handler_container{ // resolves the poor contrast of the translucent png provided by CKE
        opacity: 1;
        background-color: #ffffff !important;
      }
    }

    .cke_editable{
      .field--name-field-media-oembed-video iframe
      ,img
      { // make these properly fit inside
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      .media{
        button:hover{
          cursor: pointer;
        }
        &:hover {
          // outline: 2px solid #ffd25c;
          cursor: default;
        }
      }
    }



//  ------------------------------------------------------------------
//  needed only outside the wysiwyg

